@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto+Mono:500');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}

body { 
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
}
body * {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    line-height: 80px;
    font-weight: normal;
}
button {
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #2D4966;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    width: 100%
}
.container-full {
    width: 100%;
}
.button-small {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    line-height: 15px;
    min-width: 50px;
    padding: 6px 0;
}
.button-border {
    color: #191919;
    background-color: rgba(255,255,255,0);
    border: 1px solid #2D4966;
}
.topbar {
    background-color: #E9F0F7;
    height: 50px;
}
.topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.announcement {
    text-transform: uppercase;
}
header {
    height: 120px;
    display: flex;
    align-items: center;
}
header .container {
    display: flex;
    align-items: center;
}
.main-nav {
    display: flex;
    flex: 1;
}
.main-links {
    display: flex;
    flex: 1;
    justify-content: center;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 2px;
    color: #2D4966;
    font-size: 16px;
}
.icon-links {
    display: flex;
}
.slider {
    height: 672px;
    background-image: url(/img/slider/Background.jpg);
    background-size: cover;
    background-position: center center;
}